#gamesboard-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black; /* Optional, for visual clarity */
}

.block {
    width: 20px;
    height: 20px;
    box-sizing: border-box; /* Ensure border/padding is included in the width/height */
}

.option-container {
    width: 500px;
    height: 60px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around; /* Center items horizontally */
}

.submarine, .destroyer, .cruiser, .battleship, .carrier {
    /* These classes are for the ship types in the option container */
}

.submarine {
    background-color: green;
}

.destroyer {
    background-color: brown;
}

.cruiser {
    background-color: purple;
}

.battleship {
    background-color: orange;
}

.carrier {
    background-color: blue;
}

.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

.hover {
    background-color: gray;
}

.boom {
    background-color: red;
}

.empty {
    background-color: gray;
}

.taken {
    /* Define styles for blocks that have been taken */
    opacity: 0.5; /* Optional: makes taken blocks semi-transparent */
}

